:root {
  --color-primary: #551a8b;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-gray: #dddddd;
  --color-gray-dark: #868e96;
  --color-gray-light: #efefef;
}

.mode-dark {
  --color-dark: #ffffff;
  --color-light: #000000;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-gray);
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: var(--color-dark);
  font-size: 18px;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-light);
}

@media print {

  *,
  *::before,
  *::after {
    background: var(--color-light) !important;
    color: var(--color-dark) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid var(--color-gray);
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

img {
  max-width: 100%;
}

.sec-padding {
  padding: 8vw 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.image-cover {
  width: 100%;
  object-fit: cover;
}

.text-center {
  text-align: center;
}

/* custom css */
button.main-button {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 25px;
}

button.main-button:hover,
button.main-button:active {
  background-color: var(--color-light) !important;
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.animation-wave {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

h2 {
  font-size: 56px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

h5 {
  color: var(--color-gray-dark);
  font-size: 20px;
  margin-bottom: 20px;
}

h6 {
  font-size: 18px;
  color: var(--color-gray-dark);
}

.more-button {
  margin-top: 40px;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(9deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* custom css */